[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "omics"]
	path = omics
	url = https://github.com/cran/omics
	shallow = true
	registered = true
